html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Archivo Narrow', sans-serif;
    color: #fafafa;
    background-color: #3a3a3a;
    scroll-behavior: smooth;
    /* font-family: "Cabin", sans-serif; */
}

#header {
    height: 100vh;
    background: url(../images/scoot1.jpg) no-repeat center fixed;
    background-size: cover;
}

#podcast {
    background: url(https://images.unsplash.com/photo-1573152958734-1922c188fba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80) no-repeat center fixed;
    background-size: cover;
}

#about {
    background-image: linear-gradient(#3a3a3a, #2c2c2c);
}

#contact {
    background-image: linear-gradient(#3a3a3a, #424242);
    min-height: 100vh;
}

footer {
    background-color: #242424;
}

h2 {
    font-style: italic;
    font-size: 3rem;
}

.main-text {
    font-size: 1.4rem;
}

/*********************************************** BUTTONS */

.btn {
    font-size: 1.8rem;
    width: 12rem;
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}

/*********************************************** HEADER */
#navbar {
    background-color: #242424e8;
    position: fixed;
    top: 0;
    width: 100%; 
    transition: top 0.3s;
    z-index: 99999;
    font-size: 1.4rem;
  }

.opaque-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.opaque-cover-podcast {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#title {
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.sub-title {
    font-size: 1.4rem;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

/*********************************************** PODCAST */


.main--icons {
    font-size: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.facebook-icon i{
    color: #3B5998;
    transition: 0.3s;
}

.instagram-icon i {
    color: #C13584;
    transition: 0.3s;
}

.spotify-icon i {
    color: #1DB954;
    transition: 0.3s;
}

/*********************************************** CONTACT */


form {
    font-size: 1.4rem;
}

/*********************************************** FOOTER */

.footer--icons {
    font-size: 2rem;
}

.footer--icons li {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #424242 !important;
}

.footer--icons a {
    color: #616060;
    transition: 0.3s;
}

.main--icons i:hover,
.main--icons i:active,
.footer--icons a:hover,
.footer--icons a:active {
    color: #f8f8f8;
}

.footer-text {
    color: #858585;
}

/*********************************************** FOOTER */

@media screen and (min-width: 768px) {
    .main--icons i,
    .footer--icons i  {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    .footer--icons {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .main-text {
        font-size: 1.8rem;
    }
  }