html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    color: #fafafa;
    background-color: #424242;
    scroll-behavior: smooth;
    /* font-family: "Cabin", sans-serif; */
}

#header {
    height: 100vh;
    background: url(../images/scoot1.jpg) no-repeat center fixed;
    background-size: cover;
}

nav {
    background-color: #242424 !important;
}

#about {
    background-color: #242424;
}

.opaque-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 4rem;
}